body 
{
     padding-top: 70px;
     /*pour faire en sorte que le texte ne passe pas en dessous de la nav bar*/
}
header 
{
    padding-right: 50px;
}

/*footer*/
.logofooter
{
    width: 80px;
}
.fa 
{
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    background: blue;
    color: yellow;
}
.fa:hover 
{
    opacity: 0.7;
}

/*home page*/
.jumbotron
{
    text-align: center;
    background-image: url(images/banner\ test.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: yellow;
    padding-top: 0px;
}
html body 
{ 
    background-color: navy ;
    color: yellow ;
}
.special
{
    color:navy;
}
.events
{
    color: navy;
}

/*MENU*/
.ourmenu
{
    text-align: center;
}
/*Pictures*/
.img-thumbnail
{
    width:450px;
}